@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url(https://fonts.googleapis.com/css?family=Biryani);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
*,
*:before,
*:after {
	margin:0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #FCFFF5;
	background-color: #80B7C5;
}

header {
	background-color: #80B7C5;
	padding: 1%;
	/*z-index: -1;*/
}


h1 {
	position: absolute;
	display: block;
	float: left; 

	
}

h1 img{
	position: absolute;
	width: 300px;
}

nav {
	background-color: #80B7C5;
	text-align: right;
	float: right;
	width: 55%;
	padding: .5%;
	display: block;
	
} 

nav a{
	font-size: .75em;
	font-family:'Biryani', sans-serif;
	color: #FCFFF5;
	text-decoration: none;
	padding-left: 3%;
	padding-right: 3%;
}

#label_nav{
	display:none;
}

#toggle{
    display:none;
}

main {
	background-color: #80B7C5;
	padding: 1%;
	float: left;
	width: 35%;
	letter-spacing: 2;
	margin-top: 12%;
}

#bottom {
	background-color: #80B7C5;
}

form {
	margin-top: 20%;
	font-size: 1.2em;
}

.button {
	display: none;
}

figure {
	display: block;
	float: left;
	width: 50%;
	padding: 2%;
}

figcaption {
	color: #FCFFF5;
	padding-bottom:1%; 
	font-size: 1.1em;
}

footer {
	background-color: #80B7C5;
	font-size: .7em;
	font-family:'Biryani', sans-serif;
	padding: 1%;
	margin-top:10%;
	letter-spacing: .05em;
}

footer a {
	color: #FCFFF5;
	text-decoration: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "hello";
  clear: both;
  height: 0;
}

#slogan{
	font-size: 1.4em;
	font-family: 'Quattrocento', serif;
	letter-spacing: .1em;
	padding: 0;
	margin-top: 90px;
}

#description{
	font-size: 1.1em;
	margin-top: 20%;
	letter-spacing: .05em;
}


figure img{
	width: 100%;
	border:1px solid #;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}


.gradetitle{
	font-family: 'Biryani', sans-serif;
	text-transform: uppercase;
	text-decoration: underline;
}

.gradetitle a{
	font-family: 'Biryani', sans-serif;
	text-transform: uppercase;
	color: #FA064D;
	text-decoration: underline;
}

.circle a{
	text-decoration: none;
	color: #FCFFF5;
}

.small a{
	color: #FA064D;
}

a:hover {
 	color: black;
}

#menu {
	display: none;
}


#two_column{
/*	background-color: #FFB7CF;
	padding: 20px;
	border: 1px black solid;*/
	
}

/*#left{
	position: fixed;
	z-index: -1;

}*/

#right{
	background-color: #80B7C5;
	float: right;
	width: 62%;
}

.circle{
	position: absolute;
	text-align: center;
	width: 80px; 
	height: 80px; 
	background-color: #FA064D; 
	margin-top: -10px;
	margin-left: -15px;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
}

.circle span {
    font-family: 'Biryani', sans-serif;
    vertical-align: middle;
    line-height: 80px;
}

#secondcircle {
	/*margin-top: 50px;
	margin-left: -15px;*/
	background-color: #059E89;
}

#thirdcircle {
	/*margin-top: -20px;
	margin-left: 125px;*/
	background-color: #EE8B0C;
}

#fourthcircle {
/*	margin-top: -20px;
	margin-left: 200px;*/
	background-color: #E68CF2;
}

.arrow{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 2em;
}

.small_title {
		font-family: 'Biryani', sans-serif;
		color: #FCFFF5;
}

.small{
	display: block;
	width: 25%;
	padding: 2%;
}

#toggle{
	display: none;
}

.anchor{
	clear: both;
	display: block;
}

@media screen and (min-width: 1300px) {

h1 img {
	width: 335px;
}

main {
	margin-top: 11%;
}

}

@media screen and (max-width: 1050px) {

h1 img {
	width: 250px;
}

nav {
	width: 60%;
}

main {
	margin-top: 11%;
	font-size: .9em;
}
}


@media screen and (max-width: 815px) {


h1{
/*	float: left;*/
	/*position: fixed;
	z-index: -1;*/
}

/*nav {
	text-align: right;
	float: right;
	margin-bottom: 5%;
}*/

/*nav a {
	padding-left: 2%;
	padding-right: 1%;
}*/

main {
	width: 45%;
	position: fixed;
	margin-top: 20%;
	padding-right: 1.2%;
	z-index: -1;
}


#right{
	width: 55%;
}

figure {
	float: none;
	width: 100%;
}

article{
	width: 100%;
}

.small{
	float: left;
	display: block;
	width: 50%;
}

/*#subject_nav {
	display: none;
}*/

#label_nav{
	display: block;
  /*  margin:20px 0 0;*/
    float: right;
    font-size: 4em;
	/*padding: 5%;*/
	/*margin-top: 0;*/
}

header section{
	display: none;
}


#toggle:checked + section {
     display:block;
}

#subject_nav{
	display: none;
}

#bottom {
	/*background-color: yellow;*/
	background-color: #80B7C5;
}

@media screen and (max-width: 696px) {

	main{
		margin-top: 25%;
	}

	h1 img {
		width: 200px;
	}

	.small_description{
	display: none;
}
}

@media screen and (max-width: 500px) {

h1 img {
	width: 125px;
}

body{
	font-size: 14px;
}

/*h1{
	float: left;
	position: relative;
	padding-top: 3%
}
*/


/*nav{
	float: right;
	margin: 0;
	width: 60%;
	/*text-align: center;
	width: 100%;*/
/*}*/

#right{
	width: 100%;
}
	
figure {
	float: none;
	width: 100%;
}

main {
	position: relative;
	float: none;
	width: 100%;
	margin-top: -7%;
	margin-bottom: 2%;
	padding: 0;
	font-size: 1.1em;
}

#label_nav{
	display: block;
    float: right;
    font-size: 4em;
	padding: 0;
}

header section{
	display: none;
}

/*nav a {
	color: #fff;
	text-decoration: none;
	padding: .5em;
	display: none;
	display: block;
}*/


#toggle:checked + section{
     display:block;
    }

div label{
	font-size: 1.1em;
	padding-top: 6%;
}


#slogan{
	font-size: 1.25em;
	text-align: center;
}

#description{
	display: none;
}

#list{
	display: none;
}

.small_description{
	display: none;
}

form {
	display: none;
}

.circle{
	margin-left: -9px;
}

#subject_nav{
	display: none;
}


}


 	
	





