@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url(https://fonts.googleapis.com/css?family=Biryani);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
*,
*:before,
*:after {
	margin:0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Quattrocento', serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #FCFFF5;
	background-color: #80B7C5;
}

header {
	background-color: #80B7C5;
	/*border: 1px black solid;*/
	padding: 1%;
}


h1 {
	/*font-family:'Biryani', sans-serif;
	font-size: 2.6em;
	color: #FA064D;*/
	display: block;
	float: left;
}

h1 img{
	/*display: block;
	float: left;*/
	width: 75px;
}

nav {
	background-color: #80B7C5;
	text-align: right;
	float: right;
	width: 80%;
	padding: .5%;
	/*margin: .1%;*/
	display: block;
	
} 

nav a{
	font-size: .75em;
	font-family:'Biryani', sans-serif;
	color: #FCFFF5;
	text-decoration: none;
	padding-left: 3%;
	padding-right: 3%;
}

#label_nav{
	display:none;
}

#toggle{
    display:none;
}


section {
	/*background-color: #80B7C5;*/
	/*border: 1px black solid;*/
	/*padding: 20px;*/
}

main {
	background-color: #80B7C5;
/*	border: 1px black solid;*/
	padding: 1%;
	float: left;
	width: 35%;
	letter-spacing: 2;
	margin-top: 12%;
}

form {
	margin-top: 125px;
}

.button {
	display: none;
}

figure {
	display: block;
	float: left;
	width: 50%;
	padding: 2%;
	/*border-top: 1px white solid;
	border-left: 1px white solid;*/
	
}

figcaption {
	color: #FCFFF5;
	padding-bottom:1%; 
	/*border: 1px black solid;*/
}

footer {
	background-color: #80B7C5;
	font-size: .7em;
	font-family:'Biryani', sans-serif;
	padding: 1%;
	margin-top:10%;
/*	border: 1px black solid;*/
	
}

footer a {
	color: #FCFFF5;
	text-decoration: none;
/*	font-size: .7em;*/
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "hello";
  clear: both;
  height: 0;
}

/*.diagonal{
	position: absolute;
	width: 800px;
	height: 4px;
	left: -70px;
	border-bottom: 1px solid white;
	-webkit-transform: rotate(-36deg);
			transoform: rotate(-36deg);
}*/

#slogan{
	font-size: 1.12em;
	font-family: 'Quattrocento', serif;
	letter-spacing: .1em;
	padding: 0;
	margin-bottom: 20px;
}

#description{
	font-size: 1.1em;
	margin-top: 20%;
}

#list{
	margin-top: 125px;
}


figure img{
	width: 100%;
	border:1px solid #;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}


.gradetitle{
	font-family: 'Biryani', sans-serif;
	text-transform: uppercase;
	/*color: #F36063;*/
	text-decoration: underline;
}

.gradetitle a{
	font-family: 'Biryani', sans-serif;
	text-transform: uppercase;
	/*color: #F36063;*/
	color: #FA064D;
	text-decoration: underline;
}

.circle a{
	text-decoration: none;
	color: #FCFFF5;
}

.small a{
	color: #FA064D;
}

a:hover {
 	color: black;
}

#menu {
	display: none;
}


#two_column{
/*	background-color: #FFB7CF;
	padding: 20px;
	border: 1px black solid;*/
	
}

#left{
	/*background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
	letter-spacing: 1;
	margin-top: 170px;*/

}

#right{
	background-color: #80B7C5;
	/*border: 1px black solid;*/
/*	padding: 20px;*/
	float: right;
	width: 62%;
}

/*div {
	font-family:'Biryani', sans-serif;
	position:relative;
	text-align: center;
	padding-top: 1.5%;
	letter-spacing: .12em;
}*/


.circle{
	position: absolute;
	width: 80px; 
	height: 80px; 
	background-color: #FA064D; 
	margin-top: -10px;
	margin-left: -15px;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
}

.circle span {
	font-family:'Biryani', sans-serif;
	position: relative;
	display: block;
	padding-top: 32%;
	padding-left: 32%;

}

#secondcircle {
	margin-top: 50px;
	margin-left: -15px;
}

#thirdcircle {
	margin-top: -20px;
	margin-left: 125px;
}

#fourthcircle {
	margin-top: -20px;
	margin-left: 200px;
}

.arrow{
	display: block;
	margin: 0 auto;
}

.small_title {
		font-family: 'Biryani', sans-serif;
		color: #FCFFF5;
}

.small{
	display: block;
	/*float: left;*/
	width: 25%;
	padding: 2%;
/*	border-top: 1px white solid;
	border-left: 1px white solid;
}*/
}

/*
figure img four across{
	width: 25%;
	border:1px solid #;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}*/*/

#toggle{
	display: none;
}

@media screen and (max-width: 860px) {

h1{
	float: none;
}

nav {
	float: none;
	text-align: center;
	width: 100%;
}
}


@media screen and (max-width: 815px) {


h1{
	float: left;
	position: fixed;


}

nav {
	text-align: right;
	float: right;
	margin-bottom: 5%;
}

/*nav a {
	padding-left: 2%;
	padding-right: 1%;
}*/

main {
	width: 45%;
/*	position: fixed;*/
	margin-top: 20%;
}


#right{
	width: 55%;
}

figure {
	float: none;
	width: 100%;
}

article{
	width: 100%;
}

.small{
	float: left;
	display: block;
	width: 50%;
}

#subject_nav {
	display: none;
}

nav {
	display: none;
}

#label_nav{
	display: block;
  /*  margin:20px 0 0;*/
    /*float: left;*/
    font-size: 4em;
	padding: 5%;
	/*margin-top: 25%;*/
	/*margin-left: 35%;*/
}

#toggle:checked + nav{
     display:block;
}


@media screen and (max-width: 500px) {

body{
	font-size: 14px;
}

h1{
	float: left;
	position: relative;
	padding-top: 3%
}



nav{
	float: right;
	width: 60%;
	/*text-align: center;
	width: 100%;*/
}

#right{
	width: 100%;
}
	
figure {
	float: none;
	width: 100%;
}

main {
	position: relative;
	float: none;
	width: 100%;
	margin: 3%;
}

#label_nav{
	display: block;
  /*  margin:20px 0 0;*/
    float: right;
    font-size: 4em;
	padding: 0;
	margin-top: 5%;
}

nav{
	display: none;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: .5em;
/*	display: none;*/
	display: block;
}

nav a:active{
     background-color:yellow;
    }

#toggle:checked + nav{
     display:block;
    }

div label{
	font-size: 1.1em;
	padding-top: 6%;
}


#slogan{
	font-size: 1.2em;
}

#description{
	display: none;
}

#list{
	display: none;
}

.small_description{
	display: none;
}

.circle span {
	padding-top: 10%;
}

form {
	margin-top: 0;
}



/*.circle{
	position: absolute;
	width: 80px; 
	height: 80px; 
	background: red; 
	margin-top: -10px;
	margin-left: -15px;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
}

.circle span {
	font-family:'Biryani', sans-serif;
	position: relative;
	display: block;
	padding-top: 10%;
	padding-left: 25%;
*/
}


 	
	





